.card {
    width: 360px;
    margin: 100px auto 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 2);
}

.card__img img {
    width: 100%;
}

.card__content-cat {
    font-size: 14px;
    background-color: #008888;
    color: #fff;
    padding: 5px 10px;
}