body {
    width: 760px;
    margin: 100px auto;
}

.card {
    box-shadow: 0 0 6px #eeeeee;
    display: flex;
}

.card__img {
    width: 40%;
}

.card__img img {
    width: 100%;
    vertical-align: top;
}

.card__content {
    padding: 15px;
}

.card__content-ttl {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.card__content-tag {
    font-size: 14px;
    display: inline-block;
}

.card__content-tag--red {
    color: red;
    margin-left: 40px;
}